h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
}

@font-face{
    
    src: url("./polices/contenus/static/Raleway-Medium.ttf");
    font-weight: 500;
}
p{
    font-family: 'raleway' , sans-serif;
    margin-left: 1em;
}
body{
    max-width:1160px;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2c1d27;
    padding: 10px 0;
    
    -webkit-text-fill-color: white;
}
.flex-col{
    display: flex;
    flex-direction: column;
    background-color: #782221 ;
    padding: 0 10px;
    
    
}
.present{
    padding-top: 20px;
    text-align: center;
    -webkit-text-fill-color: white;
}
.social{
    display: flex;
    justify-content: center;
    background-color: #782221 ;
    padding-top: 20px;
    -webkit-text-fill-color: white;
    
}
h3{ display: flex;
    background-color:#dbc2a4 ;
    padding: 0 10px;
    
}
.flex{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 900px;
    
    border-right: solid 1px black;
    justify-content: flex-end;
}
main{
    display: flex;
    align-items: stretch;
    justify-content:space-between ;
}
header{
    background-color: #782221;
}
header img{
    border-radius: 50%;
    box-shadow:1px 1px 10px 10px black;
}
footer img{
    margin-right: 10px;
    margin-left: 10px;
}
.bloc{
    -webkit-text-fill-color: white;
    padding-left: 20px;
}
.title:hover{
    padding-right: 5px;
    border-right: 5px solid #782221;
}